@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,600&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,600&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

$tuto-bullet-height:1rem;
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "roboto", sans-serif;
}

header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0 0.5rem rgb(0 0 0 /25%);
    padding: 0.3rem;
    margin: 0;
    position: relative;
}
.city{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #F3F3F3;
    text-align:center;
    padding: 0.3rem
}
.city i{   
font-size: 1.5rem;
}

/* Explorer */

.explorer {
    text-align: center;
}

.explorer h2{
    margin-top:2rem;
    font-size:2rem;
}

.explorer p{
    font-size:1rem;
}

.explorer button{
    color:white;
    font-weight:300;
    font-size:1.5rem;
    padding:1.5rem 2rem;
    border: none;
    border-radius:2rem;
    box-shadow:2px 1px 8px -3px #000000; 
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), 
    rgba(255,121,218,0.9));
    transition:all 200ms;
    margin-top:1rem;
}

.explorer button:hover{
    transform:scale(1.02);
    opacity:0.9;
    }
main {
    padding: 0 1rem;
}
.tuto {
    counter-reset:steps;
 & ol {
     display:flex;
     gap:2rem;
     @media (max-width:992px){
        flex-direction:column;    
    }
 }

 & li{
     position:relative;
     &::before{
         content:counter(steps);
         counter-increment:steps;
         color:white;
         background-color:#9356DC;
         width:2*$tuto-bullet-height;
         height:2*$tuto-bullet-height;
         display:grid;
         place-items:center;
         border-radius:50%;
         position:absolute;
         left:-$tuto-bullet-height;
         bottom:$tuto-bullet-height;
     }
    list-style-type:none;
    background-color: #F6F6F6;
    padding: 1.5rem 2rem;
    flex-grow: 1;
    border-radius:1rem;
    box-shadow:2px 1px 8px -3px #000000;
    &:hover{
        transform:scale(1.02);
    }
    & i.fas{
        margin-right: 1rem;
        color:#7e7e7e;
        font-size:1.5rem;
    } 
}
 


}



